{% extends 'site/base.html' %}
{% block title %}
  پروژه ی {{project.name|truncatewords:7}}
{% endblock  %}
{% block content %}
<table class="table table-hover text-center">
  <thead>
    <tr>
      <th scope="col">سازندگان</th>
      <th scope="col">دسترسی</th>
      <th scope="col">ساخته شده در</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{project.owner}}</td>
      <td class='badge badge-primary m-1'>Owner<i class="fas fa-crown"></i></td>
      <td>{{project.created}}</td>
    </tr>
  </tbody>
</table>
<div class="jumbotron jumbotron-fluid">
  <div class="container text-center">
    <h3>{{project.name}}</h3>
    <p class="lead giv-rtl">{{project.description}}</p>
  </div>
</div>
{% endblock  %}
