{% extends 'site/base.html' %}

{% block title %}
صفحه اصلی
{% endblock  %}
{% block content %}
{% if user.is_authenticated %}
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h3>{{user.email}}</h3>
    <p class="lead giv-rtl">مهارت ها : {{user.talents}}</p>
  </div>
</div>
{% else %}
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h2 class='lead'>برای دیدن پروفایل باید وارد شوید یا ثبت نام کنید</h2>
    <h2 class='lead'>برای ساخت پروژه وارد شوید یا ثبت نام کنید</h2>
  </div>
</div>
{% endif %}
{% if user.is_authenticated %}
<div class="col-md-12 mx-auto text-center">
<div class="btn-group btn-group-toggle" data-toggle="buttons">
<a href="{% url 'project:create' %}" class='btn btn-warning'>ساخت پروژه</a>
<a href="" class='btn btn-warning'>درخواست برای پیوستن به پروژه</a>
</div>
</div>
{% endif %}
{% if user.is_authenticated %}
<div class='col-md-12 mt-5 mx-auto text-center'>
<div class="row d-flex justify-content-center">
{% for project in projects %}
<div class="card m-1 border border-primary" style="width: 18rem;">
  <div class="card-body p-5">
   <p class='badge badge-primary p-2'><span class='p-1'>Owner</span><i class="fas fa-crown"></i></p>
    <h5 class="card-title">{{project.name}}</h5>
    <p class="card-text">{{project.description|truncatewords:25}}</p>
    <a href="{% url 'project:detail' project.slug %}" class="btn btn-primary">مشاهده ی پروژه</a>
    <a href="{% url 'project:delete' user.pk project.slug %}" class="btn btn-danger"><i class="fas fa-trash"></i></a>
    <a href="{% url 'project:edit' project.slug user.pk %}" class="btn btn-success"><i class="fas fa-edit"></i></i></a>
  </div>
</div>
{% empty %}
<h3 class='mt-5 giv-rtl text-muted'>شما پروژه ای ندارید! یکی بسازید.</h3>
{% endfor %}
</div>
</div>
{% if is_paginated %}
{% if page_obj.has_previous %}
<a href="{% url 'project:home' page_obj.previous_page_number %}" class='btn btn-primary'>صفحه قبل</a>
{% endif %}
{% if page_obj.has_next %}
<a href="{% url 'project:home' page_obj.next_page_number %}" class='btn btn-primary'>صفحه بعد</a>
{% endif %}
{% endif %}
{% endif %}
{% endblock  %}